{% extends 'base.html' %}

{% block content %}

    <br>
    <br>

        <div class="d-flex justify-content-center">
            <form method="post" action="{% url 'create_hall' %}">
                {% csrf_token %}
                <input type="submit" value="Create new hall"/>
            </form>
        </div>
        <div class="d-flex justify-content-center">
            <form method="post" action="{% url 'create_session' %}">
                {% csrf_token %}
                <input type="submit" value="Create new session"/>
            </form>
        </div>
        <div class="d-flex justify-content-center">
            <form method="post" action="{% url 'hall_list' %}">
                {% csrf_token %}
                <input type="submit" value="Edit available halls"/>
            </form>
        </div>
{% endblock %}