{% extends 'base.html' %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div>
                <div class="alert alert-{{ message.tags }}">
                    <h6>{{ message }}</h6>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <br>
    <br>
    <br>
    <br>

    <div class="d-flex justify-content-end">
        <h6>Sort:</h6>
        {% for method in sort_methods %}
            <pre><span>  <a href="?sort={{ method }}">{{ method }}</a></span></pre></pre>
        {% endfor %}
        <pre>    </pre>
    </div>

    <br>

    {% if page_obj %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Film</th>
                <th scope="col">Starting time</th>
                <th scope="col">Ending time</th>
                <th scope="col">Price</th>
                {% if request.user.is_superuser %}
                    <th scope="col">Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for object in page_obj %}
                <tr>
                    <td>{{ object.film.film_name }}</td>
                    <td>{{ object.start_datetime }}</td>
                    <td>{{ object.end_datetime }}</td>
                    <td>${{ object.session_price }}</td>
                    {% if request.user.is_superuser %}
                        <td>
                        <span>
                            <form method="get" action="{% url 'edit_session' pk=object.pk %}">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Edit</button>
                            </form>
                        </span>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <br>

        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>
    {% else %}
        <div class="d-flex justify-content-center">
            <div class="badge badge-danger text-wrap" style="width: 20rem; height: 2rem">
                <h6>Nothing to edit here</h6>
            </div>
        </div>
    {% endif %}



{% endblock %}