{% extends 'base.html' %}

{% block content %}

    <br>

    <br>
    <br>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
            {% if request.user.is_authenticated %}
                <th scope="col">Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for object in page_obj %}
            <tr>
                <td>{{ object.film.film_name }}</td>
                <td>${{ object.session_price }}</td>
                <td>{{ object.start_datetime }}</td>
                <td> {{ object.end_datetime }}</td>
                <td> {{ object.film_end_with_break }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>

{% endblock %}